
<body>
 <h1>Editing Book</h1>
 <div>
 <%= form_with model: @book, local:true do |f| %>

  <label for="book_title">Title</label>
  <%= f.text_field :title %>

  <label for="book_body">Body</label>
  <%= f.text_area :body %>
  <br>
  <%= f.submit ' Update Book ', class:"actions" %>
 <% end %>

 <%= link_to "Show", bookshow_path(@book.id) %>
 |
 <%= link_to "Back", books_path(@books) %>

</body>
